/* css */

body {
    margin:0px;
    padding:0px;
    background-color:black;
}

#page {
    padding:40px;
}

#header {
    background-color:gray;  /* This makes the background color gray */
    padding:0px;
    color:white;
}

#header h1{
    padding:20px 40px;
    margin:0px;
    font-family:"verdona";
    font-size:60pt;
}

/* navigation */
#nav, #nav a {
    background-color:#ccc;   /* This changes the background color to #ccc */
    padding:10px;
}

#nav a {
    margin:0px;
    color:black;
    font-family:arial;
    text-decoration:none;  /* This is the text decoration */
}

#nav a:hover {
    background-color:#aaaaff;   /* This changes the background color to #aaaaff */
    color:white;
    transition:background-color 2s;   /* This is a transition time */
}

#content {
    padding:20px 40px;
    background-color:#eee;
    margin:0px;
}

#content h2, #content h3 {
    font-family:Arial;

}

#footer {
    background-color:black;
    color:white;
    margin:0px;
    padding:20px;
}

#footer a{
    text-decoration:none
    color:white;
}

.spotlight {
    border-width:15px;
    border-color:pink;
    border-style:solid;
    background-color:pink;
    margin:15px;
}
/* end navigation */

/*
#header{
    background-color:grey;
    width:400px;
    padding:20px;
}

#header:hover{
    background-color:pink;
    transition:background-color 2s;
}
*/